/bin/Debug
/obj/Debug
/obj
AkkaNet/AkkaNetBook/.vs/AkkaNetBook/FileContentIndex/2ec633ac-c6d6-44e7-9178-270827b33157.vsidx
AkkaNet/AkkaNetBook/.vs/AkkaNetBook/FileContentIndex/095fe8a6-998b-425d-ae3d-2b152ff9192f.vsidx
